<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property resource="application.properties" />
    <appender name="jsonLogFILE" class="ch.qos.logback.core.FileAppender">
        <file>log-cpe.log</file>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
                <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter"/>
                <appendLineSeparator>true</appendLineSeparator>
            </layout>
        </encoder>
    </appender>

    <appender name="base" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>
    <logger name="fileLogger" level="debug" additivity="false">
        <appender-ref ref="jsonLogFILE"/>
    </logger>

    <root level="error">
        <appender-ref ref="base"/>
    </root>

</configuration>
